<!DOCTYPE html>
<head>
   <title>RaspPi-JukeBox</title>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
   <!-- Latest compiled and minified JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

   <style>
   body {
     background-image: url({{ url_for('static', filename="background.jpg")}});
     background-repeat: no-repeat;
     background-attachment: fixed;  
     background-size: cover;
   }
   </style>
</head>
<body>
   <h1 style="text-align:center;"> <span style="background-color:white;"><strong>RasPi-JukeBox</strong></span></h1>
   <h3 style="text-align:center;"> <span style="background-color:white;">Playing Now: {{playlist[playing_now]}}</span></h3>
   <h3 style="text-align:center;"> <span style="background-color:white;">Queued: {{playing_queued}}</span></h3>
   <h3 style="text-align:center;"> <span style="background-color:white;">Playing Next: {{playlist[playing_now + 1]}}</span></h3>
   Random Selection : <button onclick="document.location='/random/add'">Add to Playlist</button>
      <button onclick="document.location='/random/play'">Play Next!</button><br>
   <br>
   {% for track in tracks %}
   {% if tracks[track].state == "NA" %}
      Track {{track}} :<strong>unavailable</strong><br>
   {% else %}
      Track {{track}} :<strong>available</strong>
      <button onclick="document.location='/sel{{track}}/add'">Add to Playlist</button>
      <button onclick="document.location='/sel{{track}}/play'">Play Next!</button><br>
   {% endif %}
   {% endfor %}
   </h3>
   {% for pin in pins %}
   <h2>{{ pins[pin].name }}
   {% if pins[pin].state == true %}
      is currently <strong>on</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/off" class="btn btn-block btn-lg btn-default" role="button">Turn off</a></div></div>
   {% else %}
      is currently <strong>off</strong></h2><div class="row"><div class="col-md-2">
      <a href="/{{pin}}/on" class="btn btn-block btn-lg btn-primary" role="button">Turn on</a></div></div>
   {% endif %}
   {% endfor %}
</body>
</html>
